$radius:90;//半径
$percent:83;//百分比

$circumference:(3.1415926* (2*$radius));//周长
$stroke_percentage:$circumference - (($percent / 100) * $circumference);//显示的长度

svg{transform:rotate(-90deg)}
.progressa{
	stroke-dasharray:$circumference;
	stroke-dashoffset:$circumference;
	animation:progressa 1.6s linear .1s forwards;
	transition:stroke-dasharray .4s linear;
}//SVG提供了stroke-dasharray和stroke-dashoffset两个属性，它们可以将刚才的圆形的轮廓变成虚线

        //stroke-dasharray: 该属性控制路径中虚线的长度以及虚线间的距离。
        //stroke-dasharray:1,1 或者省略的写法 stroke-dasharray:1 ，第一个数字表示实线长度 1，第二个表示间隔长度 1，后面则循环；如果要加大间隔而不加长实线，则 stroke-dasharray:1,5

        //stroke-dashoffset :该属性指定了虚线开始时的偏移长度
        //正数从路径起始点向前偏移，负数则向后


@keyframes progressa{
0%{stroke-dashoffset:$circumference;}
100%{stroke-dashoffset:$stroke_percentage;}
}