svg {
  transform: rotate(-90deg); }

.progressa {
  stroke-dasharray: 565.48667;
  stroke-dashoffset: 565.48667;
  animation: progressa 1.6s linear .1s forwards;
  transition: stroke-dasharray .4s linear; }

@keyframes progressa {
  0% {
    stroke-dashoffset: 565.48667; }
  100% {
    stroke-dashoffset: 96.13273; } }
