#filterTable table .dropup span{color: red;}
#filterTable table th span{cursor: pointer;}
#filterTable form{overflow: hidden;padding: 1px;margin:20px 0}
#filterTable hr{background: #000;height: 1px;}
.eventr{color: red;}
.oddtr{color: blue;}

#todoList ol,#todoList ol li{list-style-type:demical;}
#todoList ol li span{padding-left: 10px;color: lightskyblue;cursor: pointer;}
